@model QuanLyNhaTro.Models.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Chi Tiết Khách Hàng</h2>

<div class="row" style="text-align:center;margin-left:300px;">
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ Tên Khách Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Chứng Minh Nhân Dân
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            Nghề Nghiệp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgheNghiep)
        </dd>

        <dt>
            Quê Quán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuan)
        </dd>

        <dt>
            Ngày Sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            Mã Phòng
        </dt>
        @{
            if (ViewBag.dSPhong == 0)
                {
                 <dd>  Chưa có thông tin Phòng Được Đăng Ký</dd>
            }
            else
            {

                <dd>
                    @Html.DisplayFor(model => model.DSPhong.MaPhong)
                </dd>

            }

        }

        <dt>
            Tên Phòng
        </dt>
        @{
            if (ViewBag.dSPhong == 0)
            {
                <dd>  Chưa có thông tin Phòng Được Đăng Ký</dd>
            }
            else
            {

                <dd>
                    @Html.DisplayFor(model => model.DSPhong.TenPhong)
                </dd>

            }

        }
     

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa Thông Tin", "Edit", new { id = Model.MaKH }) |
    @Html.ActionLink("Quay Lại Trang Chủ", "Index")
</p>
