@model QuanLyNhaTro.Models.ViewModel
@using QuanLyNhaTro.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết Phòng</h2>
<div class="row" style="text-align:center;margin-left:200px;">
    <div>
        <h4>Thông Tin Phòng Trọ</h4>
        <hr />
        <dl class="dl-horizontal">
            @if (ViewBag.kh != 0)
            {
                foreach (var item in ViewBag.ChiTietPhong)
                {
                    <dt>
                        Thông Tin Phòng
                    </dt>
                    <dd>
                        @item.dsPhong.TenPhong
                    </dd>

                    <dt>
                        Mã Đăng Ký Phòng
                    </dt>

                    <dd>
                        @item.dsPhong.MaPhong
                    </dd>
                    <dt>
                        Giá Tiền Thuê Phòng
                    </dt>

                    <dd>

                        @item.dsPhong.GiaTienPhong
                    </dd>

                    <dt>
                        Thông Tin Mô Tả Phòng
                    </dt>

                    <dd>
                        @item.dsPhong.ThongTinChiTietPhong
                    </dd>
                    <dt>
                        Thông Tin Khách Hàng Đang Thuê Phòng
                    </dt>


                    <dd>
                        Mã khách hàng: @item.khachHang.MaKH
                    </dd>
                    <dd>
                        Tên khách hàng:  @item.khachHang.HoTen
                    </dd>
                }
            }
            else
            {
                <dt>
                    Thông Tin Phòng
                </dt>
                <dd>
                    @ViewBag.dsphong.TenPhong
                </dd>

                    <dt>
                        Mã Đăng Ký Phòng
                    </dt>

                    <dd>

                        @ViewBag.dsphong.MaPhong
                    </dd>
                    <dt>
                        Giá Tiền Thuê Phòng
                    </dt>

                    <dd>
                        @ViewBag.dsphong.GiaTienPhong

                    </dd>

                    <dt>
                        Thông Tin Mô Tả Phòng
                    </dt>

                    <dd>
                        @ViewBag.dsphong.ThongTinChiTietPhong
                    </dd>
                    <dt>

                        <p> Chưa có khách hàng đặt phòng</p>
                    </dt>

            }


        </dl>
        <br />
        <br />
        <br />
        <p>

            @Html.ActionLink("Quay Lại Trang Chủ", "Index")
        </p>
    </div>

</div>