@model IEnumerable<QuanLyNhaTro.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông Tin Các Hóa Đơn</h2>

<p>
    @Html.ActionLink("Tạo 1 Hóa Đơn Mới", "Create")
</p>
<table class="table table-bordered" style="text-align:center;">
    <tr>
        <th>
            Mã Hóa Đơn
            <br />

        </th>
        <th>
            Họ Tên Khách Hàng
        </th>
        <th>
            Mã Phòng
        </th>
        <th>
            Tên Phòng
        </th>
        <th>
            Ngày Lập Hóa Đơn
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a target="_self" href="@Url.Action("Index","CTHDs",new { mahd = item.MaHD})">@Html.DisplayFor(modelItenm => item.MaHD)</a>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DSPhong.TenPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLapHD)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaHD }) |
                <a target="_self" href="@Url.Action("Index","CTHDs",new { mahd = item.MaHD})">Xem Chi Tiết Phòng</a>
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaHD })
            </td>
        </tr>
    }

</table>
